<div class="container mt-4">
  <h2 class="mb-3">トップページ</h2>
  <p class="lead">お部屋探しサービスの管理画面へようこそ！以下のことができます。</p>
  <ul class="list-group">
    <li class="list-group-item"><a href="/users">ユーザー一覧の確認</a></li>
    <li class="list-group-item">ユーザーの希望条件の登録・確認</li>
    <li class="list-group-item">ユーザーへのメッセージ送信</li>
  </ul>
</div>
