<h2>ユーザー一覧</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <img src="public/images/kirin.png" alt="1" width="100" height="100" />
    <% users.forEach(user => { %>
      <tr>
        <td>
          <%= user.name %>
          <a class="message-link" href="users/<%= user.id %>/messages">メッセージ一覧</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<style>
  .message-link {
    margin-left: 20px;
  }
</style>
