<h2><%= userName %>のメッセージ一覧</h2>

<input v-model="url" type="text" placeholder="suumoのURLを貼り付けてください" />
<button @click="fetchRoomInfo">取得</button>
<div v-if="errorMessage">
  <span>{{ errorMessage }}</span>
</div>

<input v-model="roomInfoMessage" type="text" placeholder="LINEにメッセージ送信" />
<button id="send">送信</button>

<% messages.forEach(message => { %>
  <div class="messages-container">
    <% if (message.isFromUser) { %>
      <p class="user-message"><%= userName %>: <%= message.content %></p>
    <% } else { %>
      <p class="admin-message"><%= message.content %></p>
    <% } %>
  </div>
<% }) %>
